.view {
    width: 1300px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
    height: 100%;
}

.board .big_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 68px;
}
.board .big_title h2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.4;
}
.board .big_title .back {}
.board .big_title .back img {}

.board .main_title {}

.board .main_title h3 {
    font-size: 36px;
    font-weight: normal;
    line-height: 1.4;
    padding-bottom: 30px;
}
.main_title .textbox {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding-bottom: 80px;
}
.textbox .leftbox {
    width: 857px;

}
.leftbox .texts {
    padding-bottom: 32px;
}
.leftbox .links {
    display: flex;
    gap: 30px;
}

.textbox .rightbox {
    width: 385px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.rightbox .info {
    display: flex;
}
.rightbox .info h4 {
    font-weight: bold;
    width: 84px;
}
.rightbox .info p {}

.banner {}
.banner img {
    display: block;
    width: 100%;
}

.reason {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 254px 0;
}

.reason img {}
.reason .textbox {
    width: 857px;
}

.textbox h3 {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.4;
    padding-bottom: 25px;
}
.reason .textbox p {
    font-size: 16px;
    line-height: 1.6;
}

.video_boxes {
    display: flex;
    gap: 30px;
    padding-bottom: 250px;
}
.video_boxes .video  {}

.video_boxes .video video {
    width: 413px;
    background-color: #eee;
    border-radius: 18px;
}
.video_boxes .video span {
    padding-top: 15px;
    font-size: 16px;
    display: flex;
    justify-content: center;
}
.event {
    background-color: #EFBFBD;
    height: 528px;
}
.event .textbox {
    padding-top: 100px;
    width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.event .textbox .boxes_wrap {
    display: flex;
    gap: 72px;
    padding-top: 35px;
}

.whitebox_wrap {
    position: relative;
}

.boxes_wrap .whitebox {
    width: 202px;
    height: 116px;
    background-color: #FFD6D4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-top: 20px;
}
.boxes_wrap .whitebox h5 {
    font-size: 14px;
}
.boxes_wrap .whitebox img {
    display: block;
}


.whitebox_wrap .hide {
    display: none;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    margin: auto;
    position: absolute;
    bottom: -80px;
    left: 0;
    height: 56px;
    line-height: 56px;
    width: 100%;
}

.whitebox_wrap:hover.whitebox_wrap::before {
    display: block;
    content: '';
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 20px solid #fff;
    border-top: 20px solid transparent;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-width: 0 8px 10px;
}

.whitebox_wrap:hover .whitebox {
    background-color: #fff;
}
.whitebox_wrap:hover .hide {
    display: block;
    transition: all 0.3s;
}
.solution {
   height: 100%;
   position: relative;
}
.solution .background {
    display: flex;
    align-items: flex-end;
    gap: 30px;
    padding-top: 266px;
    padding-bottom: 360px;
    width: 1300px;
    margin: 0 auto;
}


.solution .background::after {
    content: '';
    top: 650px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 528px;
    background-color: #f5f5f5;
}

.solution .background img {
    display: block;
    z-index: 1;
    
}
.solution .background .textbox {
    z-index: 1;
    width: 413px;
    height: 310px;
    
}
.solution .background .textbox h3 {
    font-size: 36px;
}
.solution .background .textbox span {
    font-size: 16px;
    font-weight: bold;
}

.solution .background .textbox p {
    font-size: 14px;
    padding-top: 14px;
}