.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* gap: 10px; */
}

.main img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main .item {
    height: 960px;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}

/* hover */
.main .item.add {
    position: relative;
    overflow: hidden;
}

.main .item.add.box4 {
    background-color: #A8CCC0;
}

.main .item.add.box5 {
    background-color: #DFE8B1;
}

.item.add:hover img{
    transform: translateX( 30px );
    transition: all 0.5s;
}

.item.add:hover .innerbox {
    z-index: 100;
    opacity: 1;
}

.item.add .innerbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 36px;
    opacity: 0;
    transition: all 0.3s;
}

.item.add .innerbox .inner {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* 배경만 투명 */
    padding: 32px;
    text-align: left;
    display: flex;
    align-items: center;
}

/* hover done */


.main .box:hover .innerbox {
    z-index: 100;
    opacity: 1;
}

.item .top {
    height: 50%;
    display: flex;
    /* gap: 10px; */
}

.item .top .box {
    width: 50%;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.item .box.box1 {
    background-color: #F1C3C3;
}

.item .box.box2 {
    background-image: url(../images/box2_img_newone.jpg);
    background-size: cover;
}

.item .box.box6 {
    background-color: #9BBC91;
}

.item .box.box7 {
    background-color: #F1F5F8;
}

.box:hover img{
    transform: translateX( 30px );
    transition: all 0.5s;
}

.box .innerbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 36px;
    opacity: 0;
    transition: all 0.3s;
}

.box .innerbox .inner {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* 배경만 투명 */
    padding: 32px;
    text-align: left;
    display: flex;
    align-items: center;
}

.inner .inner_text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inner .inner_text h3 {
    font-size: 24px;
    font-weight: bold;
}

.inner .inner_text p {
    font-size: 16px;
    font-weight: normal;
}

/* hover */
.item .bottom {
    height: 50%;
    position: relative;
    cursor: pointer;
}

.bottom.box3 {
    background-color: #F8F8F8;
}

.bottom.box8 {
    background-color: #EFBFBD;
}

.bottom:hover img{
    transform: translateX( 30px );
    transition: all 0.5s;
}

.bottom:hover .innerbox {
    z-index: 100;
    opacity: 1;
}

.bottom .innerbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 36px;
    opacity: 0;
    transition: all 0.3s;
}

.bottom .innerbox .inner {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* 배경만 투명 */
    padding: 32px;
    text-align: left;
    display: flex;
    align-items: center;
}

/* hover done */
