.aboutme {
    display: flex;
}

.myvideo {
}

.myvideo video {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
}

.mymain {
    width: 100%;
    padding-left: 56px;
    padding-top: 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.logo_header {
    /* width: 770px; */
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo_header img {
    display: block;
    width: 152px;
    margin-right: auto;
    margin-left: auto;
}

.pocket img.overFlip {
    opacity: 0;
    transition: all 0.3s;
}
  
.pocket:hover img.show {
    opacity: 0;
    transition: all 0.3s;
}
  
.pocket:hover img.overFlip {
    opacity: 1;
}

.logo_header .pocket img {
    display: block;
    position: absolute;
    top: 16px;
    right: 30%;
    width: 175px
}


.logo_header h2 {
    font-family: 'Lemon', serif;
    padding: 24px;
    font-size: 28px;
    line-height: 42px;
    font-weight: bold;
}

.contents {
    display: flex;
    width: 732px;
    margin-right: auto;
    margin-left: auto;
}

.section {
    flex: 1;
}

.section.left {}

.section.left .titlebox {
    width: 370px;
    height: 260px;
}

.titlebox h3 {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 24px;
}
.titlebox .textPack {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.textPack.main {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
}

.titlebox .textPack .years {
}

.textPack .years span {
    display: block;
    font-weight: bold;
    padding-bottom: 12px;
    font-size: 14px;
}

.textPack .years p {
    display: block;
    padding-bottom: 2px;
    font-size: 14px;
}

.section.right .titlebox {
    width: 370px;
    height: 260px;
}

.section.left .titlebox.tags {
    width: 350px;
    height: 95px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 6px;
}

.titlebox.tags .tag {
    display: flex;
    align-items: center;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 8px;
    border: 1px solid #222;
    border-radius: 100px;
}

.titlebox.tags .tag:hover {
    background-color: #222;
    color: #fff;
}

.section.right .titlebox.long {
    width: 332px;
    height: 520px;
}

.titlebox .bargraph_list {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}

.titlebox .program p {
    display: flex;
    justify-content: center;
    font-size: 10px;
    padding: 4px 0 0 0;
}

.titlebox .program img{
    display: block;
    width: 52px;
}


.titlebox.snsicon .sns_icons {
    display: flex;
    gap: 20px;
}

.titlebox.snsicon .sns img {
    display: block;
    width: 36px;
    cursor: pointer;
}